<!doctype html>
<head>
  {{> head}}
</head>
<header class="case-study">
<div class="case-data">
  <p>{{{ title }}}</p>
  <p class="case-label">Products</p>
  <p>{{ product1 }}</p> 
  <p>{{ product2 }}</p>
  <ul class="tags">
    <li>{{ tag1 }}</li>
    <li>{{ tag2 }}</li>
    <li>{{ tag3 }}</li>
  </ul>
</div>
</header>
<body>
  <main> 
  
  {{{ body }}}

  </main>
</body>

  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

