<!doctype html>
<head>
  {{> head}}
</head>
<div id="caseTemplate" class="case__wrapper">
  <header class="case__summary">  
    <ul class="case__metadata">
      <li>{{{ title }}}</li>
      <li><p>Products</p></li>
      <li>{{ product1 }}</li> 
      <li>{{ product2 }}</l1>
    </ul>
    <ul class="case__metadata--tags">
      <li>{{ tag1 }}</li>
      <li>{{ tag2 }}</li>
      <li>{{ tag3 }}</li>
    </ul>
  </header>
</div>
<body class="case__body">
  <main> 
  
  {{{ body }}}

  </main>
  <sidebar>

  </sidebar>
</body>

  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

