<!doctype html>
<head>
  {{> head}}
</head>
<div id="caseTemplate" class="case__wrapper">
  <header class="grid-item case__summary">  
    <ul class="case__metadata">
      <li>{{{ title }}}</li>
    </ul>
    <ul class="case__metadata--tags">
      <li>{{ tag1 }}</li>
      <li>{{ tag2 }}</li>
      <li>{{ tag3 }}</li>
    </ul>
  </header>
</div>
<body class="case__body">
  <main class="grid-item"> 
  
  {{{ body }}}

  </main>
  <sidebar class="grid-item">
    <p>This is a sidebar.</p>
  </sidebar>
</body>

  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

