<section class="dynamic"></section>
    <h1>{{title}}</h1>
    <p>Look somethin {{title}}</p>
</section>
<section class="intro">
    <h1>Nothing is changing?????????</h1>

    <p>An awesome paragraph Projects</p>   
</section>
<section>
    <h1>WTF is going on? change me??</h1>
</section>


{{# each project}}
<ul class="projects">
<p>Client: </p>{{ _id}}</p>
<li>{{client}}</li>
<li>{{product}}</li>
<li>{{email}}</li>
{{/each}}
</ul>


