<section class="dynamic"></section>
    <h1>{{title}}</h1>
    <p>Look somethin {{title}}</p>
</section>
<section class="hero">
  <h1>Feel inspired??</h1>
  <article>
    <p>Need inspiration for a content campaign? See our work.</p>
    <a href="#projects">Projects</a>
  </article>
</section>
<section>
    <h1>WTF is going on? change me??</h1>
</section>


{{# each project}}
<ul class="projects">
<p>Client: </p>{{ _id}}</p>
<li>{{client}}</li>
<li>{{product}}</li>
<li>{{email}}</li>
{{/each}}
</ul>


