<section id="projects" class="hero">
    <h1>Share messages that weary eyes can appreciate.</h1>
    <article>
        <p>Explore local breweries with just one click and stirred by starlight across the centuries light years great turbulent clouds circumnavigated paroxysm of global death.</p>
        <a href="#projects">Projects</a>
    </article>

    <p>An awesome paragraph Projects</p>   
</section>
<section>
    <h1>WTF is going on? change me??</h1>
</section>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

  <ul>
    {{#each projects_list}}
    <li>{{this}}</li>
   {{/each}}
</ul>

  <ul>
    {{#each list_projects}}
    <li>{{this.client}}{{this.product}}</li>
   {{/each}}
</ul>

{{#if error}}
    <p>Error getting dynamic content.</p>
{{else}}
  <p>Here are the products</p>
{{/if}}