<section class="hero">
    <div class="text-container">
        <h1>{{title}}</h1>
        <h4>{{summary}}</h4>
        <ul data-type="tag-container">
            {{#each tag}}
            <li>{{this}}</li>
            {{/each}}
        </ul> 
    </div>
</section>
<section class="case-study">
    <div class="center text-block">
        <div class="headline">
            <p>Over 1 billion users watch YouTube every day, amounting to 1/3 of the internet.<span>*</span></p>
        
                <p>Jeff turned the camera on himself in 2009, launching JeffGrantMedia on YouTube. His channel evolved in sync YouTube community as well as his busy personal and professional life. During that era, pioneers of YouTube filmed skits, newsy segments, lifestyle tips or sketch comedy with their friends. </p>
                <p>Over the past decade, Jeff has seen the YouTube streams outside Scanton, the city made famous by Michael Scott, Jim and Pam, and their fictional colleagues in The Office (US version).</p>
                <p>YouTube influencers like Jeff have the attention of teens who imagine gaining notice what they love best: joking with friends, gaming or showing off their humor, style or special skill. </p>
            </div>
            <figure class="column hero-image">
                <!-- <img class=""src="../images/grant-red-shirt.jpg" alt= "Jeff Grant, videographer" / -->
                <figcaption>Photo: RMM</figcaption>
            </figure>
        </div>
        <div class="">
            <p>How can you be a social media influencer? Whether you're a brand, small company, or a rising star, it takes dedication and hard work.</p>
            <p>Jeff Grant did a vlog daily challenge for a year. He made it! But he doesn't advise others to follow suit.  Such a feat involved shooting, editing, posting and networking every single day.</p>
            <p>Care about your audience</p>
            <p>Who inspires you to create?</p>
            <p>What about sponsorship? Who do you partner with.</p>
        </div>
        <h4>Questions for Jeff</h4>
            <ul>
                <li>Why have your gear reviews taken off?<i>#realuserreview</></li>
                <li>What does it mean to be an influencer?</li>
                <li>How do you evaluate brands or companies as potential sponsors?</li>
                <li>Why did you say yes to my request for an interview?</li>
                <li>Did you feel sharing your story with Aceable's audience to have value?</li>
                <p>Inflencers are people who've taken tremendous time and personal sacrifice to bring something people love. People become fans because they trust you.</p>
            </ul>

        
    </div>
    <figure>
        <img src="../images/jeff-grant-on-location.jpg" height="400px" width="600px" alt="Videographer Jeff Grant on location">
        <figcaption>
            <p>{{ caption }}</p>
            <p>{{ credit }}</p>
        </figcaption>
    </figure>
</div>

